<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Animaux</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <!-- Menu -->
    <div class="menu">
        <a href="/person"><img class="getRetourned" width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
        <a href="/person">Personnes</a>
        <a class="actuel" href="/animal">Animaux</a>
        <a href="/species">Espèces</a>
        <a href="/species"><img width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
    </div>

    <h1>Liste des Animaux</h1>

    <div id="Recherche">
        <!-- 
        Balise table pour afficher les données de la liste des espèces
     -->
        <header>
            <!-- Text in button : "➕" + "Ajouter une Espèce" -->
            <button class="btn-shine" type="button" onclick="window.location='/animal/create'">
                <span class="text">Ajouter un Animal</span>
            </button>

            <table class="mainTable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Couleur</th>
                        <th>Espèce</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="animalItem : ${animalList}">
                        <td th:text="${animalItem.name}" />
                        <td th:text="${animalItem.sex}" />
                        <td th:text="${animalItem.color}" />
                        <td th:text="${animalItem.species.commonName}" />
                        <td class="petit jaune"><a th:href="@{'/animal/' + ${animalItem.id}}">📝</a></td>
                        <td class="petit rouge"><a th:href="@{'/animal/delete/' + ${animalItem.id}}">🗑️</a></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>
</body>