<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Création d'une Espèce</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />
</head>

<body>
    <h1>Création d'une Espèce</h1>

    <div id="NouvelleEspece">
        <form th:action="@{/species}" th:object="${species}" th:method="post" class="form">
            <div class="form-commonName">
                <input type="text" name="commonName" class="input" placeholder="Nom commun" required>
            </div>
            <div class="form-latinName">
                <input type="text" name="latinName" class="input" placeholder="Nom latin" required>
            </div>
            <div class="form-envoie">
                <button class="button-confirm">
                    <span class="text">Créer</span>
                </button>
                <button class="button-confirm" type="button" onclick="window.location='/species'">
                    <span class="text">Annuler</span>
            </div>
        </form>
    </div>
</body>

</html>