<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Espèces</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <!-- Menu -->
    <div class="menu">
        <a href="/animal"><img class="getRetourned" width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
        <a href="/person">Personnes</a>
        <a href="/animal">Animaux</a>
        <a class="actuel" href="/species">Espèces</a>
        <a href="/person"><img width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
    </div>

    <h1>Liste des Espèces</h1>

    <div id="Recherche">
        <!-- 
        Balise table pour afficher les données de la liste des espèces
     -->
        <header>
            <!-- Text in button : "➕" + "Ajouter une Espèce" -->
            <button class="btn-shine" type="button" onclick="window.location='/species/create'">
                <span class="text">Ajouter une Espèce</span>
            </button>

            <table class="mainTable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Nom commun</th>
                        <th>Nom latin</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="speciesItem : ${speciesList}">
                        <td th:text="${speciesItem.commonName}" />
                        <td th:text="${speciesItem.latinName}" />
                        <td class="petit jaune"><a th:href="@{'/species/' + ${speciesItem.id}}">📝</a></td>
                        <td class="petit rouge"><a th:href="@{'/species/delete/' + ${speciesItem.id}}">🗑️</a></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>
</body>