<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Personnes</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <!-- Menu -->
    <div class="menu">
        <a href="/species"><img class="getRetourned" width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
        <a class="actuel" href="/person">Personnes</a>
        <a href="/animal">Animaux</a>
        <a href="/species">Espèces</a>
        <a href="/animal"><img width="20" height="20" src="https://img.icons8.com/plasticine/100/arrow.png" alt="arrow"/></a>
    </div>

    <h1>Liste des Personnes</h1>

    <div id="Recherche">
        <header>
            <button class="btn-shine" type="button" onclick="window.location='/person/create'">
                <span class="text">Ajouter une Personne</span>
            </button>

            <table class="mainTable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Age</th>
                        <!-- <th>Animaux possédés</th> -->
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="person : ${personList}">
                        <td th:text="${person.firstName}" />
                        <td th:text="${person.lastName}" />
                        <td th:text="${person.age}" />
                        <!-- <td th:text="${person.animals}" /> -->
                        <td class="petit jaune"><a th:href="@{'/person/' + ${person.id}}">📝</a></td>
                        <td class="petit rouge"><a th:href="@{'/person/delete/' + ${person.id}}">🗑️</a></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>

    <div class="optionSupplementaire">
        <button class="btn-shine bleu" type="button" onclick="window.location='/person/'">
            <span class="text">Ajouter une Personne aléatoire</span>
        </button>
        <button class="btn-shine rouge" type="button" onclick="window.location='/person/'">
            <span class="text">Supprimer les personnes n'ayant pas d'animaux</span>
        </button>
    </div>
</body>