<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Création d'une Espèce</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/create.css" />
</head>

<body>
    <h1>Création d'une Espèce</h1>

    <div id="NouvelleEspece">
        <form th:action="@{/species}" th:object="${species}" method="post">

            <label for="commonName">Nom commun:</label>

            <input type="text" id="commonName" name="commonName" required>

            <label for="latinName">Nom latin:</label>

            <input id="latinName" name="latinName" required>

            <button type="submit">Créer</button>
        </form>
    </div>
</body>

</html>