<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Liste des Espèces</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="Recherche">
        <!-- 
        Balise table pour afficher les données de la liste des espèces
     -->
        <header>
            <button type="button" onclick="window.location='/species/create'">➕ Ajouter une Espèce</button>

            <table class="mainTable">
                <thead>
                    <!-- … -->
                </thead>
                <tbody>
                    <tr th:each="speciesItem : ${speciesList}">
                        <td th:text="${speciesItem.commonName}" />
                        <td th:text="${speciesItem.latinName}" />
                        <td><a th:href="@{'/species/' + ${speciesItem.id}}">📝</a></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>
</body>