<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liste des Espèces</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <h1>Liste des Espèces</h1>

    <div id="Recherche">
        <!-- 
        Balise table pour afficher les données de la liste des espèces
     -->
        <header>
            <button class="btn-shine" type="button" onclick="window.location='/species/create'">➕ Ajouter une Espèce</button>

            <table class="mainTable">
                <thead>
                    <!-- … -->
                </thead>
                <tbody>
                    <tr>
                        <th>Nom commun</th>
                        <th>Nom latin</th>
                        <th>Modifier</th>
                    </tr>
                    <tr th:each="speciesItem : ${speciesList}">
                        <td th:text="${speciesItem.commonName}" />
                        <td th:text="${speciesItem.latinName}" />
                        <td><a th:href="@{'/species/' + ${speciesItem.id}}">📝</a></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>
</body>